<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>ContactsServlet</servlet-name>
		<servlet-class>com.contacts.ContactsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContactsServlet</servlet-name>
		<url-pattern>/ContactsServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Addexisting</servlet-name>
		<servlet-class>com.contacts.Addexisting</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Addexisting</servlet-name>
		<url-pattern>/Addexisting</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Show</servlet-name>
		<servlet-class>com.contacts.Show</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Show</servlet-name>
		<url-pattern>/Show</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Search</servlet-name>
		<servlet-class>com.contacts.Search</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Search</servlet-name>
		<url-pattern>/Search</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
